form {
	display: block;
	margin: 20px 0px;
}
input {
	background-color: red;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 18px;
	padding: 15px;
	height: 40px;
	width: 300px;
}

button {
	height: 30px;
	width: 200pxs;
	margin-top: 20px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 5px;
	background-color: #000;
	border-color: transparent;
	border-radius: 5px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #04630b;
	color: #3a3939;
}

input:focus {
	outline: none;
}

.searchIcon {
	height: 40px;
	width: 40px;
	margin: 0px 0px 0px -40px;
	display: flex;
	place-items: center;
}

.searchIcon svg {
	font-size: 35px;
}

#clearBtn {
	cursor: pointer;
}

.searchBox {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	justify-content: center;
}

.formInput {
	background-color: #b1a9a9;
	width: 300px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 25px;
}
