form {
	display: block;
}
input {
	background-color: white;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 18px;
	padding: 15px;
	height: 40px;
	width: 300px;
}

button {
	height: 30px;
	width: 200pxs;
	cursor: pointer;
	text-transform: uppercase;
	padding: 5px;
	background-color: #000;
	border-color: transparent;
	border-radius: 5px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #04630b;
	color: #3a3939;
}

.searchIcon {
	height: 60px;
	width: 50px;
	background-color: #000;
	display: grid;
	place-items: center;
}

.searchIcon svg {
	font-size: 35px;
}

#clearBtn {
	cursor: pointer;
}
