form {
	display: block;
}
input {
	width: 250px;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

button {
	height: 25px;
	width: 150pxs;
	cursor: pointer;
	text-transform: uppercase;
	padding: 5px;
	background-color: #f1f1f1;
	border-color: transparent;
	border-radius: 5px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	transition-duration: 0.4s;
}

button:hover {
	background-color: black;
	color: white;
}
