* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	/* color: #fff0f5; */
	/* #B85C65 brides maids color */
	/*#2D2A39 midnightblue*/
	font-size: 1.04em;
}

h1 {
	font-family: 'Yeseva One', cursive;
	color: #384861;
}
